body{background-color:lightgray}
h1{text-align:center}
#Logo{position:absolute; top:5px; left:1060px; transform: rotate(15deg); animation-name: movingstar; animation-duration:3s}
@keyframes movingstar{from{transform: rotate(15deg)} to{transform: rotate(735deg)}}
#hunter1{position:absolute; width:140px; height:140px; left:1500px; top:100px}
#SamCharacter{position:absolute; width:140px; height:140px; top:100px; left:1700px; transform: scaleX(-1)}
#Tank1{position:absolute; width:140px; height:140px; left:1260px; top:100px}
#p1{text-align:center; font-size:20px}
#searchbar{margin-left:760px}
#button1{margin-left:900px; margin-top:10px; width:100px; height:50px; border-top-right-radius:30px; border-bottom-right-radius:30px; border-color:blue; padding-left:5px}